@import "tailwindcss";

:root {
  --background: #09090b;
  --foreground: #ffffff;
}

@theme {
  --font-inter: var(--font-inter);
}

body {
    background-color: var(--background);
    color: var(--foreground);
    @apply antialiased font-sans;
}

/* Custom utilities for glassmorphism */
.glass {
    @apply bg-white/70 backdrop-blur-md border border-white/20 shadow-sm;
}

.glass-dark {
    @apply bg-zinc-950/70 backdrop-blur-md border border-white/5 shadow-xl;
}
